root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{js,ts,vue,json,jsonc,html,css,yml,yaml,md}]
indent_size = 2

[*.{ps1,psm1,psd1}]
end_of_line = crlf

[*.{cmd,bat}]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false

[*.cs]
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
dotnet_sort_system_directives_first = true
